.todoList {
    /* border: 1px solid gray; */
    margin: 10px;
    padding: 0 10px 30px 10px;
    width: 275px;
    background-color: whitesmoke;
    box-shadow:
        0 1px 1px rgba(0,0,0,0.15),
        0 10px 0 -5px #eee,
        0 10px 1px -4px rgba(0,0,0,0.15),
        0 20px 0 -10px #eee,
        0 20px 1px -9px rgba(0,0,0,0.15)
}

h4 {
    padding: 20px 0 0 25px;
}

.todoItem {
    text-align: center;
    display: block;
    border-bottom: 2px solid gray;
    margin: 0 20px 0 40px;
}
.todoText {
    display: inline-block;
    padding-left: 10px;
} 